.friend-list {
  width: 300px;
  margin: 15px auto;
}

.item {
  position: relative;
  margin: 10px 0;
  padding-left: 40px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #383841be;
  border: 2px solid #9197e4;
  border-radius: 25px;
  gap: 20px;
}

.status {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 15px;
  border-radius: 50%;
}

.avatar {
  width: 50px;
  padding: 3px;
}

.name {
  width: calc(100% / 2);
}
