.transactionHistory {
  width: 300px;
  margin: 15px auto;
  border: 1px solid #4c4d5ead;
}
.tableHeader {
  height: 40px;
  background-color: #9197e4;
}
.tableBody {
  text-align: center;
}

.tableDetail {
  background-color: #cacce960;
}
